*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* ImgSlider.css */
.img-slider-container {
 width: 100%;
 height: auto;
 margin: auto;
 /* max-width: 1400px; */
 /* Center align the slider */
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
}

.navBtn {
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 z-index: 20;
 /* Ensure buttons are above the fade layer */
 opacity: 0;
 /* Initially hide the buttons */
 transition: opacity 0.3s ease;
 /* Add transition for smooth appearance */
}

.img-slider-container:hover .navBtn {
 opacity: 1;

 /* Show buttons when the container is hovered over */
}

.img-slider-container img {
 width: 100%;
 height: 100%;
 object-fit: contain;
 /* Maintain aspect ratio and fit within container */
 object-position: center;
 /* Center the image within its container */
}
.sbtn{
    border-radius: 60px;
    background-color: var(--maincolor);
}
/* ImgSlider.css */
.text-overlay {
 position: absolute;
 top: 10%;
 left: 5%;
 transform: none;
 color: white;
 font-weight: bold;
 text-align: left;
 z-index: 10;
 /* Ensure the text overlay appears above the fade layer */
}

.text-overlay h1 {
 font-size: 3.5rem;
}

.upside {
 z-index: 10;
}

.text-overlay p {
 font-size: 1.5rem;
 font-weight: lighter;
}