@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: transparent;
  position: relative;
}

.nav-left {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.nav-logo {
  height: 90px;
  width: 300px;
}

.nav-icons {
  display: flex;
  margin-left: 20px;
  justify-content: flex-end;
}

.nav-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  height: 2.5rem;
}

.nav-title {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 3px;
}


.dropdownService {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5rem;
  width: 25vw;
  /* Set width to full viewport width */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
}

.dropdownInsights {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5rem;
  width: 30vw;
  /* Set width to full viewport width */
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
}

.dropdown-item {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.menu {
  display: none;
}

@media only screen and (max-width: 950px) {
  .nav {
    gap: 0.5rem;
  }

  .nav-cont {
    gap: 0.5rem;
  }

  .nav {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .nav-title {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 3px;
  }
}

@media only screen and (max-width: 525px) {
  .nav-icons {
    display: none;
  }
}

@media only screen and (max-width: 760px) {
  .nav-cont {
    display: none;
  }

  .nav-right {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav-left {
    justify-content: space-between;
    width: 100%;
  }

  .nav-logo {
    height: 60px;
    width: 200px;
  }

  .menu {
    display: block;
  }
}







/* navbar.css */
.nav {
  position: fixed;
  top: 0;
  /* bottom: 10; */
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/* .nav-left {
  display: flex;
  align-items: center;
} */

/* .nav-logo {
  height: 50px;
} */
/* 
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
} */

/* .nav-icons {
  display: flex;
  gap: 10px;
} */
/* 
.nav-cont {
  display: flex;
  align-items: center;
  gap: 20px;
} */

/* .nav-title {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
} */

.nav-title:hover {
  color: grey;
}

.dropdownService,
.dropdownInsights {
  /* position: absolute; */
  /* top: 60px; Adjust based on your navbar height */
  /* background-color: white; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  /* z-index: 999; */
}

/* .dropdown-item {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  padding: 10px;
  cursor: pointer;
} */

.dropdown-item:hover {
  background-color: #f0f0f0;
}

/* .menu {
  display: none;
} */

body {
  padding-top: 80px; 
}
