*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
.cards .cardhover:hover {
    transform: translateY(-15px);
    transition: .7s;
    
}
.cards .cardhover {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    position: relative;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border: none;
   
   }
   .cards .cardhover .btn{
     margin-left: 36%;
     margin-top: 18%;
   }
   
   .cards .cardhover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    opacity: 0;
    transition: opacity 0.3s ease;
   }
   
   .cards .cardhover:hover::before {
    opacity: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
   }
