@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* #F64403 main color
#EF6645 sub color
black 
gray
white */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 1px solid red;
}
:root{
    --maincolor:#EF6645;
    --btncolor:#EF6645;
    --fontcolor:orange;
    /* --font1:'Lobster', cursive;#F3F3F3 */
    /* --font2:'Righteous', cursive; */
    --bgcolor:#F3F3F3; 
    --bgcolor2:#212529;
  }
