@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 1px solid red; */
  /* overflow: hidden; */
}
:root{
  --mainfont: "Playfair Display", serif;
    --maincolor:#ff0000;
    --btncolor:#ce3008;
    --fontcolor:#ff0000;
    --bgcolor:#F3F3F3; 
  }
